@font-face {
	font-family: Test;
	src: url(fonts/THE_JACATRA.otf);
}

@font-face {
	font-family: Test2;
	src: url(fonts/Anthemie.ttf);
}

body {
	margin: 0;
	/* height: 100%; */
}

.header-wrapper {
    padding: 1.8em 1em;
    display: flex;
    justify-content: space-between;
}

main, 
#project-card {
    margin: 2em 4em;
	padding: 2em 1em;
}

.icon-sm {
	width: 1em;
	height: 1em;
}

.icon-lg {
	width: 4em;
	height: 4em;
}

#h1 {
	font-family: Test2;
	font-size: 5em;
	margin: 0;
}

#h2 {
	font-family: Helvetica;
    font-weight: 200;
}

.icon-md {
	width: 1.5em;
	height: 1.5em;
}

#card-body {
	display: inline-block;
}

#project-card {
	display: flex;
}

#card-wrapper {
	display: flex;

}

.project-img {
	width: 20em;
	height: 11em;
}

section {
	margin: 1em 4em;
	padding: 2em 3em;
}

footer {
	text-align: center;
	width: 100%;
    height: 3em;
    position: absolute;
    bottom: 0;
}

footer small {
    margin-top: 1em;
    display: block;
	/* display: inline-block; */
}

#h3 {
	font-family: Test2;
}

.page-title-underline {
	width: auto;
	height: 4px;
	background-color: black;
	border-radius: 10em;
}

#h4 {
	font-weight: 200;
	font-style: oblique;
}

#social-bar {
	margin-left: 1em;
}

#social-bar a {
	margin-left: .5em;
}

#social-bar a:hover {
	text-decoration: none;
}
#navbar {
	text-align: right;
}

header {
	margin: 5em 10em;
}

ul.dashed > li:before {
	content: "- ";
}

#tag-line {
	border-left: 4px solid black;
}

